$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

/* Put your CSS here */
html, body {
}

body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.buttons {
  margin-top: 10px;
}

.add-ingredient {
  margin: 10px 0;
}

body > .row {
  width: 100%;
  padding: 15px 0 15px 20px;
}

@media (min-width: 768px) {
  body {
    padding-top: 50px;
  }

  #sidebar {
    position: fixed;
    top: 50px;
    bottom: 0;
    overflow: auto;

    padding-top: 10px;
  }
}
