<h2>Edit Meal</h2>

<form role="form">
  <div class="panel-group" id="dishes">
    <div class="panel" ng-controller="DishEditCtrl" ng-init="type='entree'" ng-include="'views/dish_edit.html'">
    </div>

    <div class="panel" ng-controller="DishEditCtrl" ng-init="type='side'" ng-include="'views/dish_edit.html'">
    </div>
  </div>

  <button type="submit" class="btn btn-primary" ng-click="save()">
    <span class="glyphicon glyphicon-ok"></span>
    Save Meal Changes
  </button>
  <button class="btn btn-link" ng-click="cancel()">Cancel</button>
</form>
