<div class="pull-right">
  <a ng-href="#/meals/{{meal._id}}/edit" class="btn btn-primary">
    <span class="glyphicon glyphicon-pencil"></span> Edit
  </a>
</div>

<h2>{{meal.entree.name}} <small>{{meal.side.name}}</small></h2>

<div ng-controller="IngredientsListCtrl" ng-init="type='entree'">
  <ng-include src="'views/ingredients_list.html'"></ng-include>
</div>

<h4>Instructions</h4>
<pre>{{meal.entree.instructions}}</pre>

<div ng-controller="IngredientsListCtrl" ng-init="type='side'">
  <ng-include src="'views/ingredients_list.html'"></ng-include>
</div>

<h4>Instructions</h4>
<pre>{{meal.side.instructions}}</pre>
