<div class="btn-group pull-right">
  <a ng-href="/meals/{{meal._id}}/edit" class="btn btn-primary">
    <span class="glyphicon glyphicon-pencil"></span> Edit
  </a>
  <button class="btn btn-primary" ng-click="remove()">
    <span class="glyphicon glyphicon-remove"></span> Delete
  </button>
</div>

<h4>
  <span ng-repeat="flag in meal.flags" class="label label-info">{{flag}} </span>
</h4>
<h2>{{meal.entree.name}} <small>{{meal.side.name}}</small></h2>

<div ng-show="meal.times">
  <ul class="list-inline">
    <li><strong>Prep</strong> {{meal.times.prep}}</li>
    <li><strong>Cook</strong> {{meal.times.cook}}</li>
    <li><strong>Total</strong> {{meal.times.total}}</li>
  </ul>
</div>

<div class="row">
  <div class="col-md-6" ng-controller="DishShowCtrl" ng-init="type='entree'">
    <ng-include src="'views/dishes/show.html'"></ng-include>
  </div>

  <div class="col-md-6" ng-controller="DishShowCtrl" ng-init="type='side'">
    <ng-include src="'views/dishes/show.html'"></ng-include>
  </div>
</div>

